<section class='recipes'>
  <h1>Recipes</h1>

  <div>
  <button><%= link_to "Add Recipe", new_user_recipe_path %></button>
  <% @recipes.each do |recipe| %>
  <a href="<%= user_recipe_path(@user, recipe) %>">
      <h4><%= recipe.name %></h4>
      <p><%= recipe.description %></p>

     <%= button_to "Delete", user_recipe_path(@user, recipe), method: :delete%>

  <% end %>
  </a>
  </div>
</section>
