<seciton class='addRecipe'>
  <%= render partial: 'recipes/navigation' %>
  <h1>Add a new Recipe</h1>
  <%= form_with model: @recipe, url: user_recipes_path, method: :post do |form| %>
    <%= form.label :name, 'Name:' %>
    <%= form.text_field :name %>
    <br>
    <%= form.label :preparation_time, 'Preparation time:' %>
    <%= form.text_field :preparation_time %>
    <br>
    <%= form.label :cooking_time, 'Cooking time:' %>
    <%= form.text_field :cooking_time %>
    <br>
    <%= form.label :description, 'Description:' %>
    <%= form.text_area :description %>
    <br>
    <%= form.label :public, 'Public:' %>
    <%= form.check_box :public %>
    <br>
    <%= form.submit "Create Recipe", :class => 'btn' %>
  <% end %>
</section>

