<section class='recipeDetails'>
  <h1>Recipes Details</h1>
  <%= form_for @recipe, url: toggle_public_user_recipe_path(@user, @recipe), method: :patch, html: { id: 'toggle-public-form' } do |f| %>
  <%= f.submit "Toggle Public", id: 'toggle-public-btn' %>
  <% end %>

  <table>
    <tr>
      <th><%= @recipe.name %></th>
    </tr>
    <tr>
      <th>Preparation time</th>
      <td><%= @recipe.preparation_time %></td>
    </tr>
    <tr>
      <th>Cooking time</th>
      <td><%= @recipe.cooking_time %></td>
    </tr>
    <tr>
      <th>Description</th>
      <td><%= @recipe.description %></td>
    </tr>
  </table>

  <div>
    <button><%= link_to 'Generate Shopping List', user_recipe_shopping_lists_path(@user, @recipe), class: 'btn btn-primary float-start' %></button>
    <button><%= link_to "Add Ingredient", new_user_recipe_recipe_food_path(@recipe.user, @recipe) %></button>
    <hr>
  </div>

  <% if @recipe.public == false || current_user == @user %>

    <table>
      <thead>
        <tr>
          <th>Food Name</th>
          <th>Quantiy</th>
          <th>Price</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @foods.includes(:food).each do |recipe_food| %>
          <tr>
            <td><%= recipe_food.food.name %></td>
            <td><%= recipe_food.quantity %></td>
            <td><%= recipe_food.food.price %></td>
            <td><%= button_to "Delete", user_recipe_recipe_food_path(@user, @recipe, recipe_food), :class => 'btn' , method: :delete %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</section>