<seciton class='addFood'>
  <%= form_with model: @food, url: user_foods_path, method: :post do |form| %>
    <%= form.label :name, 'Name:' %>
    <%= form.text_field :name %>
    <%= form.label :measurement_unit, 'Measurement Unit:' %>
    <%= form.text_field :measurement_unit %>
    <%= form.label :price, 'Unit Price:' %>
    <%= form.text_field :price %>
    <%= form.submit "Create Food", :class => 'btn' %>
  <% end %>
</section>
